---
layout: standard_header_footer
---
<div class="xyzzy" {% include stackbit_data_object_id.html %} data-sb-field-path="sections">
  {% for section in page.sections %}
    {% assign sectionType = section.type %}
    {% if section and sectionType %}
      {% capture sectionTemplateFile %}{{ sectionType }}.html{% endcapture %}
      <section data-sb-field-path=".[{{ forloop.index | minus: 1 }}]">
        {% include {{ sectionTemplateFile }} section=section %}
      </section>
    {% endif %}
  {% endfor %}
</div>